{
  "outbounds": [
    {
      "type": "urltest",
      "tag": "proxy",
      "outbounds": [
        "vless-grpc",
        "hysteria-out",
        "socks-out",
        "tor-out"
      ],
      "url": "https://www.gstatic.com/generate_204",
      "interval": "3m",
      "tolerance": 50
    },
    {
      "type": "vless",
      "tag": "vless-grpc",
      "server": "REPLACE-WITH-VLESS-HOST",
      "server_port": 443,
      "uuid": "REPLACE-WITH-VLESS-UUID",
      "domain_resolver": {
        "server": "local-dns",
        "strategy": "ipv4_only"
      },
      "tls": {
        "enabled": true,
        "server_name": "REPLACE-WITH-VLESS-TLS-SERVER-NAME",
        "utls": {
          "enabled": true
        },
        "reality": {
          "enabled": true,
          "public_key": "REPLACE-WITH-REALITY-PUBLIC-KEY",
          "short_id": "REPLACE-WITH-REALITY-SHORT-ID"
        },
        "record_fragment": true,
        "fragment": true
      },
      "transport": {
        "type": "grpc",
        "service_name": "REPLACE-WITH-GRPC-SERVICE-NAME"
      }
    },
    {
      "type": "hysteria2",
      "tag": "hysteria-out",
      "server": "REPLACE-WITH-HYSTERIA-HOST",
      "server_port": 47473,
      "server_ports": [
        "REPLACE-WITH-HYSTERIA-PORT-RANGE"
      ],
      "domain_resolver": {
        "server": "local-dns",
        "strategy": "ipv4_only"
      },
      "hop_interval": "30s",
      "password": "REPLACE-WITH-HYSTERIA-PASSWORD",
      "up_mbps": 100,
      "down_mbps": 100,
      "obfs": {
        "type": "salamander",
        "password": "REPLACE-WITH-SALAMANDER-PASSWORD"
      },
      "tls": {
        "enabled": true,
        "server_name": "REPLACE-WITH-HYSTERIA-TLS-SERVER-NAME",
        "insecure": false,
        "record_fragment": true,
        "fragment": true
      }
    },
    {
      "type": "socks",
      "tag": "socks-out",
      "server": "REPLACE-WITH-LOCAL-SOCKS-HOST",
      "server_port": 1080
    },
    {
      "type": "tor",
      "tag": "tor-out",
      "executable_path": "/run/sing-box/pt/tor",
      "data_directory": "/var/lib/sing-box/tor",
      "extra_args": [
        "--ClientTransportPlugin",
        "obfs4 exec /run/sing-box/pt/lyrebird",
        "--ClientTransportPlugin",
        "snowflake exec /run/sing-box/pt/snowflake-client"
      ],
      "torrc": {
        "ClientOnly": "1",
        "UseBridges": "1",
        "AvoidDiskWrites": "1"
      }
    },
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ]
}
