{
  "outbounds": [
    {
      "type": "urltest",
      "tag": "proxy",
      "outbounds": [
        "vless-grpc",
        "hysteria-out"
      ],
      "url": "https://www.gstatic.com/generate_204",
      "interval": "3m",
      "tolerance": 50
    },
    {
      "type": "vless",
      "tag": "vless-grpc",
      "server": "example.com",
      "server_port": 443,
      "uuid": "REPLACE-WITH-UUID",
      "flow": "xtls-rprx-vision",
      "domain_resolver": {
        "server": "local-dns",
        "strategy": "ipv4_only"
      },
      "tls": {
        "enabled": true,
        "server_name": "example.com",
        "utls": {
          "enabled": true
        }
      },
      "transport": {
        "type": "grpc",
        "service_name": "grpc-service"
      }
    },
    {
      "type": "hysteria2",
      "tag": "hysteria-out",
      "server": "example.com",
      "server_ports": [
        "20000:50000"
      ],
      "domain_resolver": {
        "server": "local-dns",
        "strategy": "ipv4_only"
      },
      "hop_interval": "30s",
      "password": "REPLACE",
      "up_mbps": 100,
      "down_mbps": 100,
      "obfs": {
        "type": "salamander",
        "password": "REPLACE"
      },
      "tls": {
        "enabled": true,
        "server_name": "example.com",
        "insecure": false
      }
    },
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ]
}
